<ion-grid class="faq_boxs" no-padding>
    <ion-row no-padding (click)="toggleAccordion(name)" class="headings">
        <ion-col no-padding size="12">
            <ion-label class="title"> {{ name }}
                <span *ngIf="isMenuOpen">&#9650;</span>
                <span *ngIf="!isMenuOpen">&#9660;</span>
            </ion-label>
        </ion-col>
    </ion-row>
    <ion-row class="faq_content" no-padding [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">
        <ion-col no-padding>
            <ion-label class="content xdgdfgdfgfd">{{description}}</ion-label>
        </ion-col>
    </ion-row>
</ion-grid>