<ion-content>
    <div id="header">
        <div class="header-block" id="header2">
            <div class="container">
                <div class="header-box">
                    <ion-grid class="p-0">
                        <ion-row>
                            <ion-col class="back_icon p-0">
                                <ion-icon (click)="onBackClick()" style="cursor: pointer; text-align: start; margin-left: 0; color: white; font-size: 30px;" name="arrow-back-outline"></ion-icon>
                            </ion-col>
                            <ion-col class="page_title p-0">
                                <ion-label style="text-align: center; font-size: medium;" color="light">SCHEME GROUP-WISE DONATION</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>
    </div>

    <div class="page_wapper">
        <div class="page_inner">
            <div class="container">
                <div class="page_inner_box">
                    <ion-grid class="p-0">
                        <ion-row>
                            <!-- <ion-col size="12" class="list_box" style="text-align: center; margin: 5px;"> -->
                                <ion-col class="list_block " size="12" >
                                    <div class="list_box" style="text-align: center;">
                                        <ion-label class="roundedInput" color="light"><b>Total Donation : {{SCMTotalCount}}</b></ion-label>
                                    </div>
                             </ion-col>
                           
                            <ion-col class="list_block" *ngFor="let item of Schemewise;">
                                <div class="list_box">
                                    <ion-grid>
                                    <ion-row>
                                        <ion-col class="list_content">
                                            <ion-label color="light"><b>{{item.SchemeName}}</b></ion-label>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col class="list_content">
                                            <ion-label color="light">
                                                <b>RS. {{item.Total}}</b>
                                            </ion-label>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                                </div>
                            </ion-col>
                                <ion-col  style="color: #ef7635; text-align: center;"  *ngIf="Schemewise.length==0">
                                    <ion-label><b><h2>{{this.pageMsg}}</h2></b></ion-label>
                                </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>
    </div>


</ion-content>