<ion-header>
    <ion-toolbar>
        <ion-grid class="container">
            <ion-row style="padding: 10px 0px; align-items: center;">
                <ion-col size="3" class="logo_box" (click)="this.tools.goHome()" style="cursor: pointer;">
                    <ion-img class="menu-logo"  src="assets/img/logo_n.png"> </ion-img>
                    <ion-label class="logo-title">Jainity</ion-label>
                </ion-col>
                <ion-col size="9" class="menu">
                    <ion-label (click)="this.tools.goHome()" style="cursor: pointer;">Home</ion-label>
                    <ion-label *ngIf="!isLogin" (click)="LoginClick()" style="cursor: pointer;">Login</ion-label>
                    <ion-label *ngIf="isLogin" (click)="LogoutClick()" style="cursor: pointer;">Logout</ion-label>

                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content id="content">

    <ion-grid id="page_banner">
        <ion-row class="page_banner_block" style="background-image: url({{this.bannerimg}});">
            <ion-col class="container">
                <div class="page_banner_box">
                    <ion-label>{{this.Tittle}}</ion-label>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- <ion-slides pager="true" [options]="slideOpts2" #mySlider>
        <ion-slide *ngFor="let item of TopslideItem">
            <ion-grid id="page_banner">
                <ion-row class="page_banner_block" style="background-image: url({{item.Image}});">
                    <ion-col class="container">
                        <div class="page_banner_box">
                            <ion-label>{{this.Tittle}}</ion-label>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides> -->


    <ion-grid class="content">

        <div class="page_wapper">
            <div class="page_inner">
                <div class="container">
                    <div class="page_inner_box">
                        <ion-grid class="p-0">
                            <ion-row class="list_row">
                                <ion-col class="list_col" *ngFor="let item of DetailsList">
                                    <div class="list_inner_box">
                                        <ion-grid>
                                            <ion-row class="p-0">
                                                <ion-col class="p-0">
                                                    <ion-label class="white content highlight">{{item.SchemeGroup}}</ion-label>
                                                    <ion-label class="white content bold">{{item.SchemeName}}</ion-label>
                                                    <ion-label class="white content details" style="font-style: italic;
                                                    font-size: 12px !important; margin-bottom: 10px !important;color: black !important;" innerHtml="(&nbsp;{{item.SchemeDesc}})"></ion-label>
                                                    <ion-label class="white content color" style="color: red !important;">{{item.InstituteName}}</ion-label>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row class="prise_boxs">
                                                <span class="rupe">&#8377;</span>
                                                <ion-col class="p-0">
                                                    <ion-item>
                                                        <ion-label position="floating">Amount</ion-label>
                                                        <ion-input [(ngModel)]="item.amount" type="tel" maxlength="6" required min="1" inputmode="numeric" pattern="[0-9]*" (keydown)="this.tools.isValidNumber($event)" max="100000" pattern="[0-9]{6}"></ion-input>
                                                    </ion-item>
                                                </ion-col>
                                                <ion-col class="p-0">
                                                    <ion-button class="btn-orange" (click)="onDonateClick(item)" shape="round" expand="block">DONATE</ion-button>
                                                </ion-col>
                                            </ion-row>
                                            <ion-row>
                                                <ion-label style="color: red !important;">* Donate Upto 1 Lakh.
                                                </ion-label>
                                            </ion-row>
                                        </ion-grid>
                                    </div>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </div>
                </div>
            </div>
        </div>

    </ion-grid>



    <ion-grid id="footer">
        <ion-row>
            <ion-col>
                <ion-grid class="container">
                    <ion-row class="footer-box">
                        <ion-col size="4">
                            <div class="logo_box" (click)="this.tools.goHome()" style="cursor: pointer;">
                                <ion-img class="menu-logo"  src="assets/img/logo_n.png"> </ion-img>
                                <ion-label class="logo-title">Jainity</ion-label>
                            </div>
                            <div>
                                <ion-label class="content" style="margin-top: 10px;">We are a team of inspired technology visionaries and business leaders with professional experience in multinational corporates in India and abroad who were born and are raised in Jain families.</ion-label>

                            </div>
                            <div>
                                <ion-label class="content" style="margin-top: 10px;">We are applying our qualifications, years of experience and Jain values for transforming Jain charities for the digital future.</ion-label>

                            </div>
                        </ion-col>
                        <ion-col size="4">
                            <ion-label class="title">Quick Links</ion-label>
                            <div class="link_box">
                                <ion-label (click)="this.tools.goHome()" style="cursor: pointer;color: white;">Home</ion-label>
                                <ion-label class="contactusmenu" style="cursor: pointer;color: white;">Contact</ion-label>
                                <ion-label (click)="this.tools.goFAQ()" style="cursor: pointer;color: white;"><a>FAQ</a></ion-label>
                                <ion-label (click)="this.tools.goDisclaimer()" style="cursor: pointer;color: white;"><a>Disclaimer</a></ion-label>
                                <ion-label (click)="this.tools.goTAC()" style="cursor: pointer;color: white;"><a>T & C</a></ion-label>
                                <ion-label (click)="this.tools.goPP()" style="cursor: pointer;color: white;"><a>Policy</a></ion-label>
                            </div>
                        </ion-col>
                        <ion-col size="4">
                            <ion-label class="title">Social</ion-label>
                            <div class="social_icons">
                                <ion-label class="icons">
                                    <a href="https://www.facebook.com/Jainity-101802545134328/?ti=as" target="_blank">
                                        <ion-img src="assets/img/fb.png"></ion-img>
                                    </a>
                                </ion-label>
                                <ion-label class="icons">
                                    <a href="https://instagram.com/jainityapp?igshid=1eb8rk5ppbjw2" target="_blank">
                                        <ion-img src="../assets/img/instagram.png"></ion-img>
                                    </a>
                                </ion-label>
                                <!-- <ion-label class="icons">
                                    <a href="" target="_blank">
                                        <ion-img src="assets/img/linkdeen.png"></ion-img>
                                    </a>
                                </ion-label> -->
                                <!-- <ion-label class="icons">
                                    <a href="" target="_blank">

                                    </a>
                                </ion-label> -->
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>