<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="list_block" *ngFor="let item of items; let i = index">
                <ion-row class="list_box">
                    <ion-col class="list_count">
                        <ion-label color="light">{{i+1}}</ion-label>
                    </ion-col>
                    <ion-col class="list_content">
                        <ion-label class="white content">{{item}}</ion-label>
                        <ion-label class="white content">{{item}}</ion-label>
                        <ion-label class="white content">{{item}}</ion-label>
                        <div class="button_box">
                            <ion-button class="btn-orange" (click)="onReceiptClick()" shape="round" expand="block">RECEIPT</ion-button>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>