<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col style="cursor: pointer;" class="list_block" *ngFor="let item of INSLIST; let i = index" (click)="onInstiDetails(item)">
                <ion-grid>
                    <ion-row class="list_box">
                        <ion-col class="list_count">
                            <ion-label class="roundedInput" color="light">{{i+1}}</ion-label>
                        </ion-col>
                        <ion-col class="list_content">
                            <ion-label color="light">{{item.InstituteName}}</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
                <ion-col  style="color: #ef7635; text-align: center;"  *ngIf="INSLIST.length==0" >
                    <ion-label><b>{{this.pageMsg}}</b></ion-label>
                </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>