ion-toolbar{
    background: white !important;
    --background: white !important;
}

.menu-logo{
    width:30px !important;
}
.logo-title{
    font-size: 18px !important;
}

.top-row{
    background-image: url(../../../assets/img/slider.jpg);
    color: white;
}
.tag-line{
    font-size: 20px !important;
}
.about-row{

}

.tag-line-row{
 background-image: url(../../../assets/img/background.jpg);
}
.why-row{

}
.slider-row{
    // height: 150px !important;
}