<ion-menu side="end" menuId="first" *ngIf="this.tools.checkScreen() != 4">
    <ion-content class="menus" no-padding>
        <ion-list style="padding: 0px;">
            <ion-item class="list-item" (click)="this.tools.scrollTo('banner')">
                <ion-label class="lbl-style-m">Home</ion-label>
            </ion-item>
            <ion-item class="list-item" (click)="this.tools.scrollTo('about')">
                <ion-label class="lbl-style-m">About</ion-label>
            </ion-item>
            <ion-item class="list-item" (click)="this.tools.goSchemeGroup();" style="cursor: pointer;">
                <ion-label class="lbl-style-m">Donate</ion-label>
            </ion-item>
            <ion-item class="list-item" *ngIf="this.apiService.getUserData()==undefined" (click)="LoginClick()" style="cursor: pointer;">
                <ion-label class="lbl-style-m">Login</ion-label>
            </ion-item>
            <ion-item class="list-item" *ngIf="this.apiService.getUserData()!=undefined" (click)="this.tools.OpenSidePopup" style="cursor: pointer;">
                <!-- <ion-label class="lbl-style-m">Logout</ion-label> -->
                <ion-label>{{'Hi, '+this.apiService.getUserData().first_name+" "+this.apiService.getUserData().last_name}}</ion-label>
                <ion-icon name="caret-down-outline" style="margin-left: -15px; margin-bottom: -2px;color: white;"></ion-icon>

            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-router-outlet main *ngIf="this.tools.checkScreen() != 4"> </ion-router-outlet>


<ion-header>
    <ion-toolbar>
        <ion-grid class="container">
            <ion-row style="padding: 10px 0px; align-items: center;">
                <ion-col size="3" class="logo_box" (click)="this.tools.goHome()" style="cursor: pointer;">
                    <ion-img class="menu-logo"  src="assets/img/logo_n.png"> </ion-img>
                    <ion-label class="logo-title">Jainity</ion-label>
                </ion-col>
                <ion-col size="9" class="menu">
                    <ion-label (click)="this.tools.scrollTo('banner')" style="cursor: pointer;">Home</ion-label>
                    <ion-label (click)="this.tools.scrollTo('about')" style="cursor: pointer;">About</ion-label>
                    <ion-label (click)="this.tools.goSchemeGroup();" style="cursor: pointer;">Donate</ion-label>
                    <ion-label *ngIf="this.apiService.getUserData()==undefined" (click)="LoginClick()" style="cursor: pointer;">Login</ion-label>
                    <ion-label *ngIf="this.apiService.getUserData()!=undefined" (click)="this.tools.OpenSidePopup($event)" style="cursor: pointer;">{{'Hi, '+this.apiService.getUserData().first_name+" "+this.apiService.getUserData().last_name}}</ion-label>
                    <ion-icon *ngIf="this.apiService.getUserData()!=undefined" (click)="this.tools.OpenSidePopup($event)" style="cursor: pointer;" name="caret-down-outline" style="margin-left: -15px; margin-bottom: -2px;"></ion-icon>

                </ion-col>
                <ion-col id="menu_icons" (click)="openFirst();">
                    <span></span><span></span><span></span>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content id="content">
    <ion-grid id="page_banner">
        <ion-row class="page_banner_block" style="background-image: url('assets/img/disclamer.png');">
            <ion-col class="container">
                <div class="page_banner_box">
                    <ion-label>DISCLAIMER</ion-label>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid id="page_content">
        <ion-row class="page_content_box">
            <ion-col>
                <ion-grid class="container">
                    <ion-row>
                        <ion-col>
                            <ion-label class="content">Jainity shall endeavor to put up only such information on the site, as it has verified from the NGOs, or otherwise as being true to the best of their knowledge and belief. However, Jainity does not accept any liability due
                                to inaccuracy of information or data provided on this site.</ion-label>
                            <ion-label class="content" style="margin-top: 10px;">Any liabilities arising out of any act or omission by a visitor to this site, by relying on or using the information provided on this site, shall be solely to the account of such visitor.</ion-label>
                            <ion-label class="content" style="margin-top: 10px;">Jainity will strive to ensure that the Institutes send tax exemption certificates and feedback reports to the donors within reasonable time limits. Jainity shall exert reasonable influence at its command, including withdrawal
                                of non-compliant Institutes from the site, if, in its opinion, the situation merits such action. However, Jainity is indemnified by donors on this site, from any liabilities arising out of any kind of non- compliance by
                                the Institutes. </ion-label>
                            <ion-label class="content" style="margin-top: 10px;">Jainity disclaims any liability, legal or otherwise, that may arise due to the act, omission or otherwise of any visitor to this site, or caused by the same. Visitors to the site acknowledge that Jainity is purely a &quot;facilitator&quot;
                                for transactions between the NGOs and visitors, and as such, stands indemnified from any liabilities that may arise due to the same. </ion-label>
                            <ion-label class="content" style="margin-top: 10px;">Visitors also acknowledge that visiting this site is an implicit acceptance of this disclaimer on their part.</ion-label>
                            <ion-label class="content" style="margin-top: 10px;">Email:</ion-label>
                            <ion-label class="content" style="margin-top: 10px;">privacy@Jainity.com</ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>



    <ion-grid id="footer">
        <ion-row>
            <ion-col>
                <ion-grid class="container">
                    <ion-row class="footer-box">
                        <ion-col size="4">
                            <div class="logo_box" (click)="this.tools.goHome()" style="cursor: pointer;">
                                <ion-img class="menu-logo"  src="assets/img/logo_n.png"> </ion-img>
                                <ion-label class="logo-title">Jainity</ion-label>
                            </div>
                            <div>
                                <ion-label class="content" style="margin-top: 10px;">We are a team of inspired technology visionaries and business leaders with professional experience in multinational corporates in India and abroad who were born and are raised in Jain families.</ion-label>

                            </div>
                            <div>
                                <ion-label class="content" style="margin-top: 10px;">We are applying our qualifications, years of experience and Jain values for transforming Jain charities for the digital future.</ion-label>

                            </div>
                        </ion-col>
                        <ion-col size="4">
                            <ion-label class="title">Quick Links</ion-label>
                            <div class="link_box">
                                <ion-label (click)="this.tools.goHome()" style="cursor: pointer;color: white;">Home</ion-label>
                                <ion-label class="contactusmenu" style="cursor: pointer;color: white;">Contact</ion-label>
                                <ion-label (click)="this.tools.goFAQ()" style="cursor: pointer;color: white;"><a>FAQ</a></ion-label>
                                <ion-label (click)="this.tools.goDisclaimer()" style="cursor: pointer;color: white;"><a>Disclaimer</a></ion-label>
                                <ion-label (click)="this.tools.goTAC()" style="cursor: pointer;color: white;"><a>T & C</a></ion-label>
                                <ion-label (click)="this.tools.goPP()" style="cursor: pointer;color: white;"><a>Policy</a></ion-label>
                            </div>
                        </ion-col>
                        <ion-col size="4">
                            <ion-label class="title">Social</ion-label>
                            <div class="social_icons">
                                <ion-label class="icons">
                                    <a href="https://www.facebook.com/Jainity-101802545134328/?ti=as" target="_blank">
                                        <ion-img src="assets/img/fb.png"></ion-img>
                                    </a>
                                </ion-label>
                                <ion-label class="icons">
                                    <a href="https://instagram.com/jainityapp?igshid=1eb8rk5ppbjw2" target="_blank">
                                        <ion-img src="../assets/img/instagram.png"></ion-img>
                                    </a>
                                </ion-label>
                                <!-- <ion-label class="icons">
                                    <a href="" target="_blank">
                                        <ion-img src="assets/img/linkdeen.png"></ion-img>
                                    </a>
                                </ion-label> -->
                                <!-- <ion-label class="icons">
                                    <a href="" target="_blank">

                                    </a>
                                </ion-label> -->
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>