<ion-header>
    <ion-toolbar>
        <ion-grid class="container">
                <ion-row>
                    <ion-col class="back_icon p-0">
                        <ion-icon (click)="onBackClick()" style="cursor: pointer; text-align: start; margin-left: 0; color: white; font-size: 30px;" name="arrow-back-outline"></ion-icon>
                    </ion-col>
                    <ion-col class="page_title p-0">
                        <ion-label style="text-align: center; font-size: medium;" color="light">Institute Wise Donation</ion-label>
                    </ion-col>
                </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>

<ion-content>
   
    <div class="page_wapper">
        <div class="page_inner">
            <div class="container">
                <div class="page_inner_box">
                    <ion-grid class="p-0" *ngIf="Institutewise.length > 0">
                        <ion-row>
                            <ion-col class="list_block " size="12" >
                                <div class="list_box" style="text-align: center;">
                                        <ion-label class="roundedInput" color="light"><b>Total Donation : {{ INSTotalCount | currency :'INR':'symbol':'1.2-2' }} </b></ion-label>
                                        </div>
                            </ion-col>
                            <ion-col class="list_block" *ngFor="let item of Institutewise;">
                                <div class="list_box">
                                    <ion-grid>
                                    <ion-row>
                                        <ion-col class="list_content">
                                            <ion-label color="light"><b>{{item.InstituteName}}</b></ion-label>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-col class="list_content">
                                            <ion-label color="light">
                                                <b>{{ item.Total | currency :'INR':'symbol':'1.2-2' }}</b>
                                            </ion-label>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                                </div>

                            </ion-col>
                            <div style="margin-top: 150px;" class="page_block"  *ngIf="Institutewise.length==0">
                                <ion-col  style="color: #ef7635; text-align: center;" >
                                    <ion-label><b>{{this.pageMsg}}</b></ion-label>

                                </ion-col>
                            </div>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>
    </div>


</ion-content>