<ion-content>

    <ion-grid>
        <ion-row style="margin-top: 20px;">
            <ion-col>
                <ion-button (click)="oninstwiseClick()" shape="round" expand="block" style="margin-top: 10px;text-align: center !important;">INSTITUTE WISE DONATION</ion-button>
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 20px;">
            <ion-col>
                <ion-button (click)="onschemewiseClick()" shape="round" expand="block" style="margin-top: 10px;text-align: center !important;">SCHEME GROUP-WISE DONATION</ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>