<ion-content>

    <ion-grid style="margin-top: 50px;">
        <ion-row>
            <ion-col class="text-center">
                <ion-button style="justify-content: center; min-height: 40px;" class="btn-orange" (click)="oninstwiseClick()" shape="round" expand="block">Institute Wise Donation</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col class="text-center">
                <ion-button style="margin-top: 20px; justify-content: center; min-height: 40px;" class="btn-orange" (click)="onschemewiseClick()" shape="round" expand="block">Scheme Group Wise Donation</ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>