<ion-content>

    <ion-grid>
        <ion-row style="margin-top: 10px; justify-content: center;">
            <ion-col class="text-center">
                <ion-button class="btn-orange" (click)="oninstwiseClick()" shape="round" expand="block">INSTITUTE WISE DONATION</ion-button>
            </ion-col>
        </ion-row>
        <ion-row style="margin-top: 10px; justify-content: center;">
            <ion-col class="text-center">
                <ion-button class="btn-orange" (click)="onschemewiseClick()"  shape="round" expand="block">SCHEME GROUP-WISE DONATION</ion-button>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>