<ion-content>

    <ion-grid>
        <ion-row *ngFor="let item of items; let i = index" (click)="onSchemeDetails(item)" style="background-color:#204c55; min-height: 45px; border-radius: 3px; margin-left: 3px; margin-right: 3px; margin-top: 5px;margin-bottom: 8px;">
            <ion-col>
                <ion-label class="roundedInput" color="light">{{i+1}}</ion-label>
            </ion-col>
            <ion-col>
                <ion-label color="light">{{item}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>