/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.img-height {
    height: 230px;
}

ion-label {
    font-size: 15px !important;
}

.d-block {
    display: block !important;
}

#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.item-input {
    padding-right: 0;
    position: center;
    margin-left: 10px;
    margin-right: 10px;
}

div#tabbing {
    height: calc(100vh - 120px) !important;
    position: absolute;
    width: 100%;
    left: 0px;
    top: 120px !important;
    overflow-y: auto;
}

.tab-nav-box {
    color: #969696;
    background-color: #e0dbd8;
    border-bottom: 2px solid transparent;
}

.tab-nav-box.tab-selected {
    color: #204c55;
    border-bottom: 2px solid #204c55;
}

.imgheight {
    height: 180px;
    margin-top: -40px;
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
}

#container a {
    text-decoration: none;
}

.list_block {
    flex: 0 0 33.33333%;
    width: 33.33333%;
}

.list_block ion-grid,
.list_inner_box ion-grid {
    padding: 0px !important;
    height: 100% !important;
}

.list_box {
    background-color: #204c55;
    border-radius: 5px;
    padding: 8px !important;
    margin: 0px;
    text-align: left;
    height: 100%;
}

.list_count {
    background: #fff;
    flex: 0 0 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    width: 100%;
    text-align: center;
    display: flex;
}

.list_count ion-label {
    color: #204c55 !important;
    text-align: center;
    font-size: 14px !important;
    white-space: nowrap;
    word-spacing: -2px;
    margin: auto;
    vertical-align: middle;
}

ion-tabs {
    height: auto !important;
}

ion-tab-bar {
    height: 50px !important;
    padding: 0px 15px;
    background: #e0dbd8 !important;
}

.tab-nav-box ion-label {
    white-space: nowrap;
    font-size: 15px !important;
}

.tab-nav-box {
    width: auto !important;
    max-width: none !important;
    float: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

.p-0 {
    padding: 0px !important;
    --padding: 0px !important;
}

.container {
    padding: 0px 15px;
}

ion-toolbar {
    background: #ef7635;
    --background: #ef7635;
}

// .def-header{
//     background: #ef7635;
//     --background: #ef7635;
// }
#header .header-block {
    background: #ef7635;
    position: fixed;
    left: 0px;
    right: 0px;
    padding: 10px 0px;
    height: 120px;
    z-index: 1111111;
}

#header ion-row {
    justify-content: space-between;
}

ion-header .logo_box ion-img {
    width: 100%;
    max-width: 150px;
    margin: 0px auto;
}

ion-header .search_box {
    display: flex;
    align-items: center;
    background: transparent;
    padding: 2px 0px;
    border-radius: 6px;
    margin-top: 25px;
    width: 28px;
    float: right;
}

#header .search_block {
    flex: 0 0 300px;
    width: 300px;
}

#header .search_btn {
    padding: 0px;
    filter: inherit;
    width: 20px !important;
    cursor: pointer;
}

#header .close_btn {
    width: 20px !important;
    margin: 0px 7px;
}

ion-header .menubars {
    flex: 0 0 30px;
    width: 30px;
    color: #fff;
    font-size: 30px !important;
}

#header .open .search_box {
    background: #fff;
    padding: 2px 15px;
    width: 100%;
    float: none;
}

#header .open .search_btn {
    filter: invert(100%);
}

.header-box {
    position: relative;
}

.page_title {
    text-align: center;
    margin: auto;
}

#header2 .search_box {
    margin-top: 0px;
}

ion-header .back_icon {
    flex: 0 0 30px;
    height: 30px;
}

#header #header2 {
    height: 69px;
    line-height: 46px;
}

ion-header .menubars {
    flex: 0 0 24px;
    width: 24px;
    font-size: 24px !important;
    height: 30px;
}

ion-header ion-row {
    justify-content: space-between;
}

.list_col {
    flex: 0 0 33.333333%;
}

.list_inner_box {
    background-color: #204c55;
    border-radius: 5px;
    padding: 15px;
    margin: 2px;
    height: 100%;
}

.list_inner_box .white.content {
    color: #fff;
    display: block;
    line-height: 18px;
    margin-bottom: 6px;
}

.prise_boxs {
    align-items: center;
}

.prise_boxs span {
    color: #fff;
    font-size: 15px;
    padding-top: 20px;
}

.prise_boxs ion-input {
    --padding: 0px !important;
    border-bottom: 2px solid #fff;
    padding: 0px 0px !important;
    --padding-top: 5px !important;
    --padding-bottom: 5px !important;
}

.prise_boxs .item-input {
    margin-left: 0;
    margin-right: 0;
    margin: 0px !important;
    --padding: 0px !important;
}

.prise_boxs ion-button {
    margin-top: 20px;
    margin-left: 10px;
}

.btn-orange {
    text-align: center !important;
    font-size: 14px;
    display: inline-block;
}

.text-center {
    text-align: center;
}

.list_block .white.content {
    color: #fff;
    display: block;
    line-height: 15px;
    margin-bottom: 10px;
}

.w-100 {
    width: 100% !important;
}

p {
    color: #fff !important;
}

.page_block {
    display: table;
    width: 100%;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    height: 100vh;
    padding: 15px;
}

.page_block_login {
    display: table;
    width: 100%;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
    height: 50vh;
    padding: 0px;
}


.page_box {
    display: table-cell;
    vertical-align: middle;
}

.page_block .logo {
    max-width: 210px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.page_block .content {
    color: #000;
    line-height: 20px !important;
    display: block !important;
    text-align: center;
}

.page_block .d-inline {
    display: inline-block !important;
}

.list_title {
    text-align: center;
}

.page_block input {
    appearance: textfield !important;
}

.form-control {
    --ion-background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 16px;
}

.page_block input {
    appearance: textfield !important;
}

.page_title ion-label {
    font-weight: 700 !important;
    letter-spacing: 1px;
}

.search_boxss {
    max-width: 340px;
    margin: 0 auto;
}

.login-modal .modal-wrapper {
    width: 100% !important;
    height: 470px !important;
    border: 1px solid #fff !important;
    max-width: 375px !important;
    border-radius: 15px !important;
    padding: 0px !important;
    margin: 0 auto !important;
}

.login-modal ion-content {
    --overflow: hidden !important;
}

.login-modal .page_block_login {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
    height: auto !important;
    max-width: 100%;
}

.login-modal .page_block_login .page_box {
    width: 100%;
}

.login-modal .page_block_login .page_box .logo {
    max-width: 170px;
    width: 100%;
    margin: 0 auto;
}

.register-modal .modal-wrapper {
    width: 100% !important;
    height: 625px !important;
    border: 1px solid #fff !important;
    max-width: 400px !important;
    border-radius: 15px !important;
    padding: 0px !important;
    margin: 0 auto !important;
}

// .register-modal ion-content {
//     --overflow: hidden !important;
// }
.register-modal .page_block_login {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    height: auto !important;
    max-width: 100%;
}

.register-modal .page_block_login .page_box {
    width: 100%;
}

.register-modal .page_block_login .page_box .logo {
    max-width: 170px;
    width: 100%;
    margin: 0 auto;
}

.register-modal ion-radio-group ion-item {
    display: flex;
    align-items: center;
}

.register-modal ion-radio-group ion-item ion-radio {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: 5px;
}

.register-modal ion-radio-group ion-item ion-label {
    position: relative;
    width: 100%;
    display: block;
    margin: 0px 15px;
    padding: 0px;
}

.register-modal ion-row {
    margin-top: 0px !important;
}

.white.content.highlight {
    background: #ef7635;
    color: #fff;
    padding: 7px 10px 7px 15px;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 0px 15px 15px 0px;
    position: relative;
    left: -15px;
}

.list_inner_box .white.content p {
	display: inline;
}

#contact_forms .section {
    padding: 20px;
    background: #fff;
}

#contact_forms form {
    margin-top: -80px;
    background-color: #f1f1f1;
    padding: 15px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 5px 5px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

#contact_forms .form-group {
    min-height: auto;
    margin-bottom: 10px;
}

#contact_forms .form-control {
    border: 1px solid #606062;
    border-radius: 5px;
    color: #000;
    background: #fff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
}

#page_banner ion-label {
    font-size: 30px !important;
    display: block !important;
    font-weight: 700;
    color: #fff !important;
    padding: 100px 0px;
    text-transform: uppercase;
}

#page_banner .page_banner_block {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#faq .faq_block {
    background: #f3f3f3;
    padding: 60px 0px;
}

#faq .faq_box .title {
    color: #000;
    font-weight: 700;
    font-size: 24px !important;
    margin-bottom: 10px !important;
    display: block;
}

.faq_boxs {
    background: transparent;
    padding: 0px !important;
    margin: 0px !important;
    margin-bottom: 15px !important;
}

.headings {
    padding: 0px !important;
    margin: 0px !important;
    background: #fff !important;
}

#faq .faq_box .headings .title {
    color: #f37635;
    margin: 0px !important;
    padding: 15px !important;
    font-size: 16px !important;
    position: relative;
    padding-right: 45px !important;
    font-family: 'Poppins';
    font-weight: 600;
}

#faq .faq_box .faq_content {
    padding: 15px;
    background: #fff;
    margin-top: 3px;
}

#faq .faq_box .headings .title span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(-0%, -50%);
    font-size: 18px;
}

#faq .faq_box .faq_content ion-label {
    font-weight: 400;
    color: #3a3636 !important;
    font-size: 15px !important;
    font-family: "Poppins";
    line-height: 22px !important;
    padding: 0px !important;
    display: inline-block;
}

#page_content .content {
    padding: 0px !important;
    margin: 0px !important;
    margin-bottom: 15px !important;
}

#page_content .page_content_box {
    padding: 60px 0px 45px 0px;
    background: #f3f3f3;
}

.swiper-pagination {
    display: none !important;
}

span#icons_click {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 40px;
    overflow: hidden;
    right: 90px;
    z-index: 111;
    cursor: pointer;
}

.contact-form {
    position: fixed;
    background: #fff;
    right: 30px;
    bottom: 0%;
    max-height: calc(100vh - 150px);
    padding: 0px;
    overflow: hidden;
    overflow-y: auto;
    transition-duration: 700ms;
    border-radius: 10px;
    width: 100%;
    max-width: 360px;
    z-index: -1;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.08);
    opacity: 0;
}

.contact-form .form-control {
    --ion-background-color: transparent;
    border-bottom: 1px solid #000;
    color: #000;
    font-size: 16px;
}

#closes {
    display: none;
}

#contact_forms.open .contact-form {
    bottom: 100px;
    opacity: 1;
    transition-duration: 700ms;
    z-index: 1111111;
}

#contact_forms.open #closes {
    display: block;
}

#contact_forms.open #contact_icon {
    display: none;
}

#contact_forms .heading {
    padding: 20px;
    background: #ef7635;
    padding-bottom: 80px;
}

#contact_forms .heading ion-label {
    font-size: 20px !important;
    line-height: 20px;
    display: block;
    color: white;
    font-family: "Tahoma" !important;
    font-weight: 700 !important;
    letter-spacing: 0.8px;
}

#contact_forms .heading ion-label span {
    color: white !important;
    font-size: 14px !important;
    font-weight: 400;
    display: block;
    margin-top: 7px;
    letter-spacing: 0.2px;
}

ion-header .container {
    max-width: 1215px !important;
    padding-right: 30px !important;
}

#about .content {
    text-align: justify;
}

#footer .content {
    text-align: justify;
}


/* responsive web & app*/

#menu_icons {
    background: #ff7400;
    width: 44px;
    padding: 2px 5px;
    border-radius: 2px;
    display: none;
    flex: 0 0 40px;
}

#menu_icons span {
    background: #fff;
    width: 100%;
    height: 2px;
    display: block;
    margin: 5px 0px;
    padding: 0;
}

.menus {
    background: #ff7400 !important;
    --background: #ff7400 !important;
}

.menus ion-list,
.menus ion-list ion-item {
    --padding-start: 0px !important;
    background: #ff7400 !important;
    --background: #ff7400 !important;
    --border-color: #fff !important;
}

.menus ion-label {
    color: #fff !important;
    font-size: 15px !important;
    display: block !important;
    margin: 0px !important;
    padding: 0px !important;
    font-weight: 600 !important;
    line-height: 20px !important;
    padding-left: 16px !important;
}

.logo_box {
    text-align: left;
}


.list_block_row {margin: 0px -10px;}
.list_block_cols {padding: 0px 10px !important;}

.char_row {margin: 0px -10px;}
.char_col {padding: 0px 10px !important;}

.list_block_cols .light.bold {
	width: 100%;
	display: block;
	font-weight: 700;
	color: #fff;
	font-size: 15px !important;
}
.list_block_cols .list_box {
	align-items: center;
}

.welcome-card {
	padding: 0px !important;
	margin: 0px !important;
}

.tables {display: table; width: 100%; margin-bottom: 10px;}
.tables .tables-heading {display: table-row; text-align: center;}
.tables .tables-heading .tables-content {
	white-space: nowrap;
}
.tables .tables-heading .cell {
	vertical-align: middle;
	font-size: 15px;
	font-weight: 700;
	background: #ef7635;
	padding: 14px 12px;
	color: #fff;
}
.tables .tables-heading .cell:first-child {
	border-radius: 5px 0px 0px 0px;
}
.tables .tables-heading .cell:last-child {
	border-radius: 0px 5px 0px 0px;
}
.tables .tables-row {display: table-row;}
.tables .cell {
	display: table-cell;
	text-align: left;
	border-top: 2px solid #f3f3f3;
	vertical-align: middle;
	padding: 10px 12px;
	background-color: #fff;
	font-size: 15px;
}







@media (max-width: 1024px) {


    ion-header .menubars {
        flex: 0 0 24px;
        width: 24px;
        font-size: 24px !important;
    }
    .list_block {
        flex: 0 0 50%;
        width: 50%;
    }
    .list_col {
        flex: 0 0 50%;
        width: 50%;
    }
    #header2 .search_block {
        flex: 0 0 300px;
        width: 300px;
        position: absolute;
        right: 0px;
        top: -5px;
    }
    #header #header2 {
        height: 50px;
        padding: 10px 0;
        line-height: 9px;
    }
    ion-header .menubars {
        height: 30px !important;
    }
    .slider_img_scheme {
        height: auto !important;
    }
    span#icons_click {
        right: 15px !important;
    }
    .contact-form {
        max-height: calc(100vh - 190px);
    }
    .login-modal .modal-wrapper {
        width: calc(100% - 30px) !important;
        margin: 20px auto !important;
        height: calc(100vh - 50px) !important;
        max-height: 490px;
    }
    .login-modal ion-content {
        --overflow: auto !important;
    }
    .register-modal .modal-wrapper {
        width: calc(100% - 30px) !important;
        margin: 20px auto !important;
        height: calc(100vh - 50px) !important;
        max-height: 600px;
    }
    .login-modal .page_block_login {
        padding: 15px !important;
    }
    .register-modal .page_block_login {
        padding: 15px !important;
    }
}

@media (max-width: 992px) {
    ion-header .search_box {
        border-radius: 6px;
        margin-top: 0;
    }
    #header .open .search_box {
        padding: 0px 10px 0px 3px;
    }
    #header .logo_box {
        top: 55px;
    }
    #header .header-block {
        right: 0;
        height: 180px;
    }
    ion-tabs {
        height: auto !important;
    }
    .tab-nav-box ion-label {
        white-space: nowrap;
        font-size: 14px !important;
    }
    ion-label {
        font-size: 14px !important;
    }
    .container {
        padding: 0px 5px;
    }

    ion-label br {
        display: none;
    }
    ion-header .container {
        padding: 5px 12px;
    }
    .logo_box {
        flex: 0 0 170px !important;
        max-width: 170px !important;
    }
    ion-header .container {
        padding-right: 15px !important;
    }
    .menu_list {
        display: none !important;
    }
    .tag-line {
        font-size: 25px !important;
        line-height: 25px;
    }
    .subtag-line {
        font-size: 16px !important;
    }
    #page_banner ion-label {
        font-size: 25px !important;
        padding: 40px 0px;
    }
    #faq .faq_box .title {
        margin-bottom: 10px !important;
        line-height: 20px;
        font-size: 20px !important;
    }
    #faq .faq_box .headings .title {
        padding: 8px !important;
        font-size: 15px !important;
        padding-right: 28px !important;
    }
    #faq .faq_box .headings .title span {
        right: 8px;
        font-size: 15px;
    }
    ion-header .menu {
        display: none;
    }
    #menu_icons {
        display: block !important;
    }
    // ion-menu {display: block !important;}
    #faq .faq_box .faq_content {
        padding: 7px;
    }
 
}

@media (max-width: 768px) {
    .list_block {flex: 0 0 100%; width: 100%;}
    .list_col {flex: 0 0 100%; width: 100%;}
    #footer .footer-box {justify-content: center !important;display: block !important;margin: 0 auto;text-align: center;}
    #footer .footer-box ion-col {display: block;flex: 0 0 100% !important;max-width: 100% !important;width: 100% !important;    }
    #footer .footer-box .link_box {max-width: 200px;text-align: left;}
    #footer .title {margin-bottom: 18px;}
    #footer .footer-box ion-col:nth-child(2),
    #footer .footer-box ion-col:nth-child(3) {margin-top: 25px !important;text-align: justify;}
    #footer {padding: 50px 0px !important;}
    #faq .faq_block {padding: 50px 0px;}
    #page_banner ion-label {font-size: 22px !important;line-height: 22px !important;}
    #page_content .page_content_box {padding: 50px 0px 35px 0px;}
    #page_content .content {text-align: left;}
    #faq .faq_box .title {font-size: 18px !important;}

    #footer .content {
        text-align: left !important;
    }
    #about .content {
        text-align: left;
    }

    .list_block_cols {
        padding: 0px 10px !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
        margin-bottom: 15px !important;
    }
    .list_block_row {
        margin-bottom: -15px;
    }

    .tables-row .cell .tables-content {
        min-width: 150px;
    }
    .tables-row .cell:last-child .tables-content {
        min-width: auto;
    }
}
@media (max-width: 640px) {
    ion-label {
        font-size: 13px !important;
    }
    .list_inner_box .white.content {
        line-height: 15px;
        margin-bottom: 5px;
    }
    .btn-orange {
        font-size: 13px;
        display: inline-block;
        height: 30px;
    }
    .prise_boxs ion-button {
        margin-top: 24px;
    }
    .list_block .white.content {
        margin-bottom: 5px;
    }
    #footer ion-label {
        font-size: 15px !important;
    }
}

@media (max-width: 480px) {
    .tab-nav-box {
        width: auto !important;
        max-width: none !important;
        float: none !important;
        padding: 0px !important;
        margin: 0px !important;
        --padding-top: 0 !important;
        --padding-end: 0 !important;
        --padding-bottom: 0 !important;
        --padding-start: 0 !important;
        max-width: none !important;
    }
    ion-tab-bar {
        height: 42px !important;
        padding: 0px 5px;
    }
    .tab-nav-box ion-label {
        white-space: nowrap;
        font-size: 13px !important;
        word-spacing: -1px !important;
        letter-spacing: 0px !important;
    }
    #page_banner ion-label {
        font-size: 18px !important;
        line-height: 22px !important;
    }

    .page_block .logo {
        max-width: 150px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
    }
}

@media (max-width: 420px) {
    #contact_forms .contact-form {
        width: calc(100% - 20px);
        max-width: 100%;
        right: 10px;
    }
}

.details p {
    color: black !important;
}





#contact_forms .btn-orange.w-100 {
	margin-top: 0px !important;
}




.logo-title {
    display: inline-block;
    vertical-align: middle;
}

.list_inner_box .white.content.color {
	color: darkslategray !important;
	font-weight: 600;
}

span.rupe {
	font-family: 'arial';
}
.list_inner_box .white.content.bold {
	font-weight: 600;
}
.list_inner_box p b, .list_inner_box p strong {
	font-weight: normal !important;
}