<ion-content>
    <div id="header">
        <div class="header-block" id="header2">
            <div class="container">
                <div class="header-box">
                    <ion-grid class="p-0">
                        <ion-row>
                            <ion-col class="back_icon p-0">
                                <ion-icon (click)="onBackClick()" style="cursor: pointer; text-align: start; margin-left: 0; color: white; font-size: 30px;" name="arrow-back-outline"></ion-icon>
                            </ion-col>
                            <ion-col class="page_title p-0">
                                <ion-label style="text-align: center; font-size: medium;" color="light">SEARCH ITEM</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>
    </div>

    <ion-grid style="margin-top: 50px;">

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">Search Here</ion-label>
                    <ion-input [(ngModel)]="searchTerms" type="text"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button style="margin-top: 30px; min-height: 40px;" shape="round" expand="block" style="margin-top: 10px;text-align: center !important;" (click)="onSearch()">SCHEME GROUP-WISE DONATION</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>


    <div class="page_wapper">

        <div class="page_inner">
            <div class="container">
                <div class="page_inner_box">
                    <ion-grid class="p-0">
                        <ion-row class="list_row">
                            <ion-col class="list_col" *ngFor="let item of SearchList">
                                <div class="list_inner_box">
                                    <ion-row class="p-0">
                                        <ion-col class="p-0">
                                            <ion-label class="white content">{{item.SchemeName}}</ion-label>
                                            <ion-label class="white content">{{item.SchemeGroup}}</ion-label>
                                            <ion-label class="white content">{{item.InstituteName}}</ion-label>
                                            <ion-label class="white content" [innerHtml]="item.SchemeDesc"></ion-label>

                                        </ion-col>
                                    </ion-row>
                                    <ion-row class="prise_boxs">
                                        <span>&#8377;</span>
                                        <ion-col class="p-0">
                                            <ion-item>
                                                <ion-label position="floating">Amount</ion-label>
                                                <ion-input [(ngModel)]="item.amount" type="tel" maxlength="6"></ion-input>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col class="p-0">
                                            <ion-button class="btn-orange" (click)="onDonateClick(item)" shape="round" expand="block">DONATE</ion-button>
                                        </ion-col>
                                    </ion-row>
                                    <ion-row>
                                        <ion-label style="color: #ef7635 !important;">* Donate Upto 1 Lakh.</ion-label>
                                    </ion-row>
                                </div>
                            </ion-col>
                            <div style="margin-top: 150px;" class="page_block">
                                <ion-col style="color: #ef7635;" *ngIf="SearchList.length==0">
                                    <ion-label><b><h2>{{this.pageMsg}}</h2></b></ion-label>

                                </ion-col>
                            </div>
                        </ion-row>
                    </ion-grid>
                </div>
            </div>
        </div>

    </div>

</ion-content>