<ion-header>
    <ion-toolbar>
        <ion-grid class="container">
            <ion-row style="margin: 20px auto;">
                <ion-col class="menubars p-0">
                    <ion-icon style="cursor: pointer;" (click)="onLogoutClick()" name="power-outline"></ion-icon>
                </ion-col>
                <ion-col class="logo_box p-0">
                    <ion-img src="assets/img/logo-w.png"> </ion-img> </ion-col> <ion-col class="menubars p-0">
                        <ion-icon style="cursor: pointer;" (click)="onSearchClick()" name="search-outline"></ion-icon>
                </ion-col>

            
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-tabs tabbarPlacement="top">
        <ion-tab-bar slot="top">
            <ion-tab-button class="tab-nav-box" tab="schemegroup">
                <ion-label color="tertiary">Scheme Group</ion-label>
            </ion-tab-button>

            <ion-tab-button class="tab-nav-box" tab="institute">
                <ion-label color="tertiary">Institute</ion-label>
            </ion-tab-button>

            <ion-tab-button class="tab-nav-box" tab="mydonation">
                <ion-label color="tertiary">My Donation</ion-label>
            </ion-tab-button>

            <ion-tab-button class="tab-nav-box" tab="alldonation">
                <ion-label color="tertiary">All Donation</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-tabs>
</ion-content>