<ion-list class="ion-no-margin ion-no-padding">
    <!-- <ion-list-header color="dark" class="text-10">
        <ion-label class="fw700">{{'Hi, '+this.apiService.getUserData().first_name+" "+this.apiService.getUserData().last_name}}</ion-label>
    </ion-list-header> -->

    <ion-item>
        <ion-label style="cursor: pointer;" (click)="onDashboardClick()">Dash board</ion-label>
    </ion-item>
    <ion-item>
        <ion-label style="cursor: pointer;" (click)="onMytransactionClick()">My Transaction</ion-label>
    </ion-item>
    <ion-item>
        <ion-label style="cursor: pointer;" (click)="onlogoutClick()">Logout</ion-label>
    </ion-item>

</ion-list>