<ion-content>
    <div class="page_block_login">
        <div class="page_box">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-img class="logo"  src="../../assets/img/logo.png"></ion-img>
                    </ion-col>
                </ion-row>

                <ion-row style="margin-top: 15px;">
                    <ion-col>
                        <ion-label class="content">Please Enter Register Details</ion-label>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col>
                        <ion-radio-group value="2" class="rdbtn" [(ngModel)]="RoleID">
                            <ion-item lines="none">
                                <ion-label>
                                    <ion-radio value="2"></ion-radio>
                                    <span class="check_mark">Donor</span>
                                </ion-label>
                            </ion-item>

                            <ion-item lines="none">
                                <ion-label>
                                    <ion-radio value="3"></ion-radio>
                                    <span class="check_mark">Institute</span>
                                </ion-label>
                            </ion-item>
                        </ion-radio-group>

                    </ion-col>
                </ion-row>

                <ion-row style="margin-top: 30px;">
                    <ion-col>
                        <ion-item>
                            <ion-label position="floating">First Name</ion-label>
                            <ion-input [(ngModel)]="Fname" type="text" min="3"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <div *ngIf="fnameerror != ''">
                        <ion-label style="color: red; margin-left: 20px;" innerHtml="{{fnameerror}}"></ion-label>
                    </div>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label position="floating">Last Name</ion-label>
                            <ion-input [(ngModel)]="Lname" type="text" min="3"></ion-input>
                        </ion-item>
                    </ion-col>

                </ion-row>
                <ion-row>
                    <div *ngIf="lnameerror != ''">
                        <ion-label style="color: red; margin-left: 20px;" innerHtml="{{lnameerror}}"></ion-label>
                    </div>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label position="floating">Mobile Number</ion-label>
                            <ion-input [(ngModel)]="mobileno" type="tel" maxlength="10"></ion-input>
                        </ion-item>
                    </ion-col>

                </ion-row>
                <ion-row>
                    <div *ngIf="moberror != ''">
                        <ion-label style="color: red; margin-left: 20px;" innerHtml="{{moberror}}"></ion-label>
                    </div>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button style="margin-top: 30px; min-height: 40px;" class="btn-orange w-100" (click)="cliRegister()" shape="round" expand="block">REGISTER</ion-button>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col style="text-align: center;">
                        <ion-label class="content d-inline" (click)="onLogClick()">Already have an account ? </ion-label>
                        <ion-label class="content d-inline" style="color: #ef7635 !important; cursor: pointer;" (click)="onLogClick()" color="primary"><u>Login</u></ion-label>
                    </ion-col>
                </ion-row>

            </ion-grid>
        </div>
    </div>
</ion-content>